profiles {
    docker {
        docker {
            enabled = true
            temp = 'auto'
        }
    }
}

/*
Set default parameters

Any parameters provided by the user with a -params-file or
with -- command-line arguments will override the values
defined below.
*/
params {
    help = false
    ref_dir = false
    data_dir = false
    out_dir = false
    primer_5p = false
    cbc_include = false
    hg38 = false
    annotation = false
    pA = false
    cage = false
    threads = false // 10
    

    // Set the containers to use for each component
    lima
    // isoseq3
    // pbpigeon
    // pbcopper
    // pbmm2
    // pysam tqdm
    // "conda-forge/label/cf201901" construct
    // argparse
    // gzip
    // r-sys
    // structure
    
    
    container__cutadapt = "quay.io/biocontainers/cutadapt:3.5--py36hc5360cc_0"
    container__fastqc = "quay.io/biocontainers/fastqc:0.11.9--hdfd78af_1"
    container__multiqc = "quay.io/biocontainers/multiqc:1.11--pyhdfd78af_0"
    container__bwa = "quay.io/hdc-workflows/bwa-samtools:latest"
    container__pandas = "quay.io/fhcrc-microbiome/python-pandas:0fd1e29"

}
